body{
    /* background-color: #fbfbfb;; */
    /* 16px 20px 24 28 32 40 */
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.text-indent2{
    text-indent: 2rem;
}
.line1{
    text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
}
.line2{
    text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
}
a{
    text-decoration: none;
}
video {
    width: 100%;
    height: auto;
}
/* .module-title{
font-size: 36px;
color: #FFFDFD;
} */
/* .module2-title{
    font-size: 36px;
color: #000000;
} */
/* .module-sub-title{
    font-size: 30px;
    color: #FFFDFD;
} */
.module2-sub-title{
    font-size: 20px;
    color: #6A6A6A;
}
.c-fff{
    color: #ffff;
}
.c-fc{
    color: #fcfcfc;
}
.c-persent{
    color: #B1216C;
}
.c-sum{
    color: #4866af;
}
.c-cr{
    color: #F6FBFF;
}
.c-58{
    color: #585858;
}
.c-007{
    color: #0070D5 !important;
}
.c-6e{
    color: #6E6E6E
}
.c-15{
    color: #151515;
}
.c-666{
    color: #666666;
}
.c-7e{
    color: #7E7670;
}
.c-60{
    color: #606462;
}
.c-d8{
    color: #d8d7dd;
}
.bgc-f7{
    background-color:#f7f9fa;
}
.bgc-f5{
    background-color: #f5f5f5;
}
.bgc-007{
    background-color: #0070D5;
}
.bgc-0072{
    background-color: #0070D5;
}
.bgc-27{
    background-color: #272727;
}
.fs-48{
    font-size: 48px;
}
.fs-64{
    font-size: 64px;
}
/* .fs-30{
    font-size: 30px;
} */
.fs-18{
    font-size: 18px;
}
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}


/* 内容 */
.line-line
{
    height:36px;
    line-height:36px;
    text-align:center;
}
.line-line2
{
    display:inline-block;
    width:100px;
    border-top:3px solid #cccccc;
    vertical-align:5px;
}
.module-1{
    background-color: #000000;
}
.module-2{
    background-color: #1e65e1;

}
.module-3{
    background-color: #000000;
}
.module-4{
    background-color: #eb6c29;
}
.foot{
    background-color: #272727;
}

.bdr{
    border-right: 2px dashed #7E7670;
}
.navbar-toggler{
    background-color: #000000;
}

.nav-pills .nav-link{
    color: #000000 !important;
}

.nav-pills .nav-link{
    font-size: 15px;
    position: relative;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #1e65e1!important;
    background-color: #ffffff!important;
}
.nav-pills .nav-link:hover{
    color: #1e65e1!important;
}
.server-card{
    min-height: 370px;
}
.server-card-content{
    font-size: 18px;
    color: #FBFBFB;
}

.numbers{
    width: 41px; height: 42px; line-height: 42px; background-color: #fff; color: #1e65e1; border-radius: 50%; text-align: center;
}
.server-card-title{
    color: #0070D5;
    font-size: 48px;
}
.page-link{
    background-color: #ffffff;
    color: #7E7670 !important;
    border: none!important;
    font-size: 14px;
}
.page-item.active .page-link{
    background-color: #0070D5;
    color: #ffffff !important;
}
.tabs-lqp {
    border-bottom: none;
    font-size: 18px !important;
}
.tabs-lqp .nav-link{
    color: #8e8e8f !important;
    font-size: 18px !important;
}
.tabs-lqp .nav-link:hover{
    color: #0070D5 !important;
    background-color: none!important;
    border: none!important;
}
.tabs-lqp .nav-link.active{
    color: #ffffff !important;
    background-color: #0070D5 !important;
    border: none;
    border-radius: 20px;
    font-size: 18px !important;

}
.aaa{
    background-color: #0070D5;
    color: #fff;
}
.aaa span{
    background-color: #fff;
}
.case-active:hover{
    cursor: pointer;
}
.cursor:hover{
    cursor: pointer;
}
.about-imgbox:hover img{
transform: scale(1.2);
}
/* 3d动画 */
.fp-section{
    position: relative;
}
.fp-tableCell .bgox{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}
