{extend name="public/index" /}

{block name="main"}
{if $carousel}
<div class="banner wow fadeIn" data-wow-delay="0">
    <img src="{$carousel.img}" alt="" class="img-fluid">
</div>
{else /}
<div class="banner wow fadeIn">
    <img src="__STATIC__/portal/imgs/banner/tiktok.png" alt="Logo" class="img-fluid">
</div>
{/if}
<div class="module-1">
    <div class="container">
        <div class="fs-1 c-fff py-3 py-lg-5 text-center">服务的核心价值</div>
        <div class="fs-2 c-fff mb-3 mb-lg-5 text-center fst-italic">企业该如何拥抱变化，玩赚 tiktok 流量新风口!</div>
        <div class="row mb-5">
            <div class="col-6 col-lg-3 mb-2 mb-lg-0 wow flipInY hexin-active">
                <div class="servecard-bg p-2 p-lg-4" style="background-image: url('__STATIC__/portal/imgs/servecard-bg.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                    <h4 class="text-center py-4 mb-0 fs-2 c-fff">定位策略</h4>
                    <div class="server-card-content text-center pb-5 mt-2">
                        <ul class="m-0">
                            <li class="mb-2">商业模式定位</li>
                            <li class="mb-2">内容策划</li>
                            <li class="mb-2">IP打造</li>
                        </Ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-2 mb-lg-0 wow flipInY hexin-active">
                <div class="servecard-bg p-2 p-lg-4" style="background-image: url('__STATIC__/portal/imgs/servecard-bg.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                    <h4 class="text-center py-4 mb-0 fs-2 c-fff">内容制作</h4>
                    <div class="server-card-content text-center pb-5 mt-2">
                        <ul class="m-0">
                            <li class="mb-2">文案编写</li>
                            <li class="mb-2">拍摄手法</li>
                            <li class="mb-2">剪辑手法</li>
                        </Ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-2 mb-lg-0 wow flipInY hexin-active">
                <div class="servecard-bg p-2 p-lg-4" style="background-image: url('__STATIC__/portal/imgs/servecard-bg.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                    <h4 class="text-center py-4 mb-0 fs-2 c-fff">运营方法</h4>
                    <div class="server-card-content text-center pb-5 mt-2">
                        <ul class="m-0">
                            <li class="mb-2">起号运营</li>
                            <li class="mb-2">账号运营</li>
                            <li class="mb-2">视频及直播运营</li>
                        </Ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-2 mb-lg-0 wow flipInY hexin-active">
                <div class="servecard-bg p-2 p-lg-4" style="background-image: url('__STATIC__/portal/imgs/servecard-bg.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                    <h4 class="text-center py-4 mb-0 fs-2 c-fff">视频及直播运营</h4>
                    <div class="server-card-content text-center pb-5 mt-2">
                        <ul class="m-0">
                            <li class="mb-2">数据分析</li>
                            <li class="mb-2">复盘思维</li>
                            <li class="mb-2">IP打造</li>
                        </Ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5 justify-content-center ">
            <div class="col-10 col-lg-4">
                <img src="__STATIC__/portal/imgs/free-btn.png" alt="Logo" class="img-fluid btn-active">
            </div>
        </div>

    </div>
</div>
<div class="module-2">
    <div class="container">
        <div class="fs-1 c-fff py-5 text-center">我们能帮你做什么</div>
        <div class="row pb-5">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div class="row justify-content-center justify-content-lg-start">
                    <div class="col-9 wow fadeInLeft">
                        <img src="__STATIC__/portal/imgs/do-bg.png" alt="Logo" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row row-cols-1 row-cols-lg-2 gx-5 gy-5">
                    <div class="col wow fadeInUp">
                        <div class="d-flex">
                            <div style="width: 40px;" class="me-4">
                                <div class="numbers">1</div>
                            </div>
                            <div class="c-fc fs-18">多种私域转化工具系统，助客户便捷获客，轻松管理询盘</div>
                        </div>
                    </div>
                    <div class="col wow fadeInUp">
                        <div class="d-flex">
                            <div style="width: 40px;" class="me-4">
                                <div class="numbers" >2</div>
                            </div>
                            <div class="c-fc fs-18">协助用户无障碍代注册T-TOK账号与托管，轻松运营账号</div>
                        </div>
                    </div>
                    <div class="col wow fadeInUp">
                        <div class="d-flex">
                            <div style="width: 40px;" class="me-4">
                                <div class="numbers" >3</div>
                            </div>
                            <div class="c-fc fs-18">海外短视频自动创作营销，高效率推广，提高品牌海外曝光与引流</div>
                        </div>
                    </div>
                    <div class="col wow fadeInUp">
                        <div class="d-flex">
                            <div style="width: 40px;" class="me-4">
                                <div class="numbers" >4</div>
                            </div>
                            <div class="c-fc fs-18">助力外贸企业及个人用户开拓海外营销市场，把握新机遇</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module-3">
    <div class="container">
        <div class="fs-1 c-fff text-center py-5">多行业成功案例，从这里遇见你的全球客户</div>
        <div class="row row-cols-1 row-cols-lg-2 gy-5 gx-5 mb-5">
            <div class="col wow fadeInUp">
                <div class="card p-4" style="border-radius: 20px;">
                    <div style="border-radius: 20px;" class="position-relative">
                        <img src="__STATIC__/portal/imgs/case-1.png" alt="" class="card-img-top img-fluid">
                        <div>
                            <p class="position-absolute top-0 text-end w-100 px-4 pt-3">服装鞋帽</p>
                            <div class="position-absolute bottom-0 bg-dark opacity-75 text-white w-100 ps-4 pt-3 fs-18" style="border-radius: 0 0 20px 20px;">
                                <p>定制化营销策略 转化成本降5成</p>
                                <p>多渠道爆量曝光，实现品效增长</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mx-5">
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">50%</h5>
                                <p class="card-text fs-18">转化成本降低</p>
                            </div>
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">20%</h5>
                                <p class="card-text fs-18">询盘量提升</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col wow fadeInUp">
                <div class="card p-4" style="border-radius: 20px;">
                    <div style="border-radius: 20px;" class="position-relative">
                        <img src="__STATIC__/portal/imgs/case-2.png" alt="" class="card-img-top img-fluid">
                        <div>
                            <p class="position-absolute top-0 text-end w-100 px-4 pt-3">设备机械</p>
                            <div class="position-absolute bottom-0 bg-dark opacity-75 text-white w-100 ps-4 pt-3 fs-18" style="border-radius: 0 0 20px 20px;">
                                <p>整合渠道资源 转化率提升236%</p>
                                <p>SEM+SEO组合引擎优化，解决海外关键词排名</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mx-5">
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">60%</h5>
                                <p class="card-text fs-18">转化成本降低</p>
                            </div>
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">30%</h5>
                                <p class="card-text fs-18">询盘量提升</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col wow fadeInUp">
                <div class="card p-4" style="border-radius: 20px;">
                    <div style="border-radius: 20px;" class="position-relative">
                        <img src="__STATIC__/portal/imgs/case-3.png" alt="" class="card-img-top img-fluid">
                        <div>
                            <p class="position-absolute top-0 text-end w-100 px-4 pt-3">电子数码</p>
                            <div class="position-absolute bottom-0 bg-dark opacity-75 text-white w-100 ps-4 pt-3 fs-18" style="border-radius: 0 0 20px 20px;">
                                <p>强势组合出击降本增效</p>
                                <p>搜索+社交+品牌组合出拳，实现品牌口碑互动</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mx-5">
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">40%</h5>
                                <p class="card-text fs-18">转化成本降低</p>
                            </div>
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">50%</h5>
                                <p class="card-text fs-18">询盘量提升</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col wow fadeInUp">
                <div class="card p-4" style="border-radius: 20px;">
                    <div style="border-radius: 20px;" class="position-relative">
                        <img src="__STATIC__/portal/imgs/case-4.png" alt="" class="card-img-top img-fluid">
                        <div>
                            <p class="position-absolute top-0 text-end w-100 px-4 pt-3">家居卫浴</p>
                            <div class="position-absolute bottom-0 bg-dark opacity-75 text-white w-100 ps-4 pt-3 fs-18" style="border-radius: 0 0 20px 20px;">
                                <p>渠道优化双管齐下 挖掘流量潜力</p>
                                <p>全维度梳理广告流程，百位优化师团队运营护航</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mx-5">
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">30%</h5>
                                <p class="card-text fs-18">转化成本降低</p>
                            </div>
                            <div class="col text-center">
                                <h5 class="card-title c-persent fs-4">20%</h5>
                                <p class="card-text fs-18">询盘量提升</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <img src="__STATIC__/portal/imgs/case-map.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-lg-6 px-5">
                <div class="row row-cols-2 g-3 c-fff">
                    <div class="col">
                        <div class="d-flex c-sum fs-3"><div class="number" data-count="150">150 </div><span>国家/地区</span></div>
                        <div class="fs-5">T-TOK使用者目前遍及全球</div>
                    </div>
                    <div class="col">
                        <div class="d-flex c-sum fs-3"><div class="number" data-count="10">10</div><span>亿 +</span></div>
                        <div class="fs-5">全球每月活跃用户</div>
                    </div>
                    <div class="col">
                        <div class="d-flex c-sum fs-3"><div class="number" data-count="20">20</div><span>万 +</span></div>
                        <div class="fs-5">内容创造者</div>
                    </div>
                    <div class="col">
                        <div class="d-flex c-sum fs-3"><div class="number" data-count="30">30</div><span>亿 +</span></div>
                        <div class="fs-5">全球下载量</div>
                    </div>

                </div>
                <div class="c-fff fs-4 my-5 w-75 wow fadeInRightBig">
                    T-TOK不是风口，而是一种趋势外贸人必用社交平台之一
                </div>
            </div>
        </div>
        <div class="row py-5 justify-content-center">
            <div class="col-10 col-lg-4">
                <a target="_blank" href="https://affim.baidu.com/cps5/chatIndex?siteToken=7ae092c70bbb653ae82f38f18f4c801c&speedLogId=16988342947276103_1698834294727_86080&bid=8932105550019762035&eid=50980426&reqParam=%7B%22from%22%3A0,%22sid%22%3A%22-100%22,%22tid%22%3A%22-1%22,%22ttype%22%3A1,%22siteId%22%3A%2219762035%22,%22userId%22%3A%2250980426%22,%22pageId%22%3A0%7D">
                    <img src="__STATIC__/portal/imgs/case-btn.png" alt="Logo" class="img-fluid btn-active">
                </a>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    //
    $('.hexin-active').hover(function () {
            $(this).addClass('cursor')
            $(this).find('h4').css({borderBottom: '2px solid #fff'})
        },
        function () {
            $(this).find('h4').removeAttr('style')
        },
    )
    //
    //btn
    $('.btn-active').hover(function () {
            $(this).addClass('cursor wow pulse animated')
            $(this).attr("style", "visibility: visible; animation-name: pulse")
        },
        function () {
            $(this).removeClass('wow pulse animated')
            $(this).removeAttr("style")
        },
    )
    // 数字自增
    var numAdd = function () {
        $('.number').each(function () {
            var $this = $(this),
                countTo = parseInt($this.attr('data-count'));
            $({ countNum: 0 }).animate({ countNum: countTo },
                {
                    duration: 3000,
                    easing: 'linear',
                    speed: 'slow',
                    step: function () {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function () {
                        $this.text(parseInt(this.countNum).toString());
                    }
                });
        });
    }
    $(function () {
        numAdd()
    })
</script>
{/block}
