{extend name="public/index" /}

{block name="main"}
{if $carousel}
<div class="banner mb-lg-5 wow fadeIn" data-wow-delay="0">
    <img src="{$carousel.img}" alt="" class="img-fluid">
</div>
{else /}
<div class="fp-section py-lg-5" style="background-image:  url('__STATIC__/portal/imgs/banner/shortvideo2.png');
    background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;
height: 100%; overflow: hidden;
">
    <div class="row w-100 m-0 pb-5 pt-lg-5">
        <div class="col p-0">
            <div class="container text-center pb-lg-5">
                <div class="c-fff fs-1 mt-5 mb-3 mt-lg-0 mb-lg-5 fw-bold">短视频精准获客营销</div>
                <div class="fs-3 mb-5 pb-5 c-fff line-line text-center">
                    <span class="line-line2"></span>
                    <span class="mx-5 fs-3">一对一量身定制服务方案</span>
                    <span class="line-line2"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="col p-0">
            <div class="fp-tableCell" style="">
                <div class="bgox" id="bgox" data-color="#fff">
                    <div class="d-none d-lg-block"><canvas height="350"></canvas></div>
                    <div class="d-block d-lg-none"><canvas></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/if}
<div class="container mb-5">
    <div class="fs-1 py-lg-3 my-5 text-center">做短视频你是否面临以下问题？</div>
    <div class="row justify-content-center">
        <div class="col-10">
            <img src="__STATIC__/portal/imgs/short-1.png" alt="Logo" class="img-fluid wow pulse">
        </div>
    </div>
</div>
<div class="2 row w-100"  style="background: url('__STATIC__/portal/imgs/short-bg.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;">
    <div class="col p-0" style="">
        <div class="container text-center pt-5">
            <div class="fs-3 mb-3 mb-lg-5 c-fff">这些问题我都能帮你解决？</div>
            <div class="fw-bold c-fff fs-1 mb-5">一站式短视频营销服务</div>
            <div class="row row-cols-2 row-cols-lg-4 mb-5 g-4 py-3 py-lg-5">
                <div class="col">
                    <div class="servecard-bg py-4 ser-active wow flipInX" style="background-image: url('__STATIC__/portal/imgs/short-serve1.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                        <h4 class="server-card-title text-center py-2 py-lg-4 mb-0 fw-bold">01</h4>
                        <div class="fs-5 text-center pb-5">
                            <ul class="m-0 ">
                                <li class="mb-2">账号策划定位</li>
                            </Ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="servecard-bg py-4 ser-active wow flipInX" style="background-image: url('__STATIC__/portal/imgs/short-serve1.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                        <h4 class="server-card-title text-center  py-2 py-lg-4 mb-0 fw-bold">02</h4>
                        <div class="fs-5 text-center pb-5 ">
                            <ul class="m-0 ">
                                <li class="mb-2">文案创意编写</li>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="servecard-bg py-4 ser-active wow flipInX" style="background-image: url('__STATIC__/portal/imgs/short-serve1.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                        <h4 class="server-card-title text-center  py-2 py-lg-4 mb-0 fw-bold">03</h4>
                        <div class="fs-5 text-center pb-5 ">
                            <ul class="m-0 ">
                                <li class="mb-2">视频拍摄剪辑</li>
                            </Ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="servecard-bg py-4 ser-active wow flipInX" style="background-image: url('__STATIC__/portal/imgs/short-serve1.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                        <h4 class="server-card-title text-center  py-2 py-lg-4 mb-0 fw-bold">04</h4>
                        <div class="fs-5 text-center pb-5 ">
                            <ul class="m-0 ">
                                <li class="mb-2">运营营销获客</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="3">
        <div class="fs-1 py-lg-3 my-5 text-center">代运营的好处</div>
        <!-- <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-0">
       <div class="col wow slideInRight" data-wow-delay="0.1s" style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg1.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">

        <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
            <img src="__STATIC__/portal/imgs/icon/haochu1.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
            <p class="fs-18 px-3 px-lg-5">每个项目配备专业的策划、设计、编剧、摄影、剪辑、演员、运营、客服，输出高品质的创意视频.</div>
        </div>

       </div>
       <div class="col wow slideInRight" data-wow-delay="0.2s" style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg2.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
         <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
            <img src="__STATIC__/portal/imgs/icon/haochu2.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
            <div class="fs-18 px-3 px-lg-5">为企业和品牌量身定制短视频运营方案+精确投放组合.</div>
        </div>
       </div>
       <div class="col wow slideInLeft" data-wow-delay="0.3s" style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg3.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
        <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
            <img src="__STATIC__/portal/imgs/icon/haochu3.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
            <div class="fs-18 px-3 px-lg-5">抖音、小红书、西瓜视频、视频号、今日头条多平台展现、媒体、网红达人等多种资源营销推广整合.</div>
        </div>
       </div>
       <div class="col wow slideInLeft" data-wow-delay="0.4s" style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg4.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
        <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
            <img src="__STATIC__/portal/imgs/icon/haochu4.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
            <div class="fs-18 px-3 px-lg-5">AI大数据用户分析、多角度、多维度、多方位运营，让企业精准获客.</div>
        </div>
       </div> -->
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg1.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">

                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu1.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">

                    <div class="fs-18 p-3 p-lg-5">
                        <!-- <div class="fs-5 mb-2">全案营销方案策划</div> -->
                        <p class="fs-18 c-666">每个项目配备专业的策划、设计、编剧、摄影、剪辑、演员、运营、客服，输出高品质的创意视频.</p>
                    </div>
                </div>

            </div>
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg2.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu2.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
                    <div class="fs-18 p-3 p-lg-5">
                        <!-- <div class="fs-5 mb-2">海量KOC资源
                        </div> -->
                        <p class="fs-18 c-666">为企业和品牌量身定制短视频运营方案+精确投放组合.</p>
                    </div>
                </div>
            </div>
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg3.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu3.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
                    <div class="fs-18 p-3 p-lg-5">
                        <!-- <div class="fs-5 mb-2">专业短视频营销团队
                        </div> -->
                        <p class="fs-18 c-666">抖音、小红书、西瓜视频、视频号、今日头条多平台展现、媒体、网红达人等多种资源营销推广整合.</p>
                    </div>
                </div>
            </div>
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg4.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu4.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
                    <div class="fs-18 p-3 p-lg-5">
                        <!-- <div class="fs-5 mb-2">服务优势
                        </div> -->
                        <p class="fs-18 c-666">AI大数据用户分析、多角度、多维度、多方位运营，让企业精准获客.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="4 bgc-f5 py-5">
    <div class="container">
        <div class="fs-1 mb-5 text-center">易点核心优势</div>
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="px-4 py-5 server-card position-relative cursor hover-aaa wow fadeIn" style="height: 490px;">
                    <div class="mb-3 fs-64 c-d8 fw-bold">01</div>
                    <div class="fs-18 mb-4">短视频平台算法</div>
                    <div class="fs-14 mb-4 pb-5">易点网络本身是一家从事互联网12年的企业，潜心研究抖音平台排名算法，专业的抖音代运营团队为您服务!</div>
                    <span class="mt-5 position-absolute bottom-0 mb-5 bgc-007" style="width: 48px; height: 3px;"></span>
                </div>
            </div>
            <div class="col">
                <div class="p-4 py-5 server-card position-relative cursor hover-aaa wow fadeIn" style="height: 490px;">
                    <div class="mb-3 fs-64 c-d8 fw-bold">02</div>
                    <div class="fs-18 mb-4">更懂整合营销</div>
                    <div class="fs-14 mb-4 pb-5">抖音、小红书是年轻人的时尚，是新时代的营销平台，是算法流量的渠道入口，我们，懂策划更懂线上营销!</div>
                    <span class="mt-5 position-absolute bottom-0 mb-5 bgc-007" style="width: 48px; height: 3px;"></span>
                </div>
            </div>
            <div class="col">
                <div class="p-4 py-5 server-card position-relative cursor hover-aaa wow fadeIn" style="height: 490px;">
                    <div class="mb-3 fs-64 c-d8 fw-bold">03</div>
                    <div class=" fs-18 mb-4">更专业的团队</div>
                    <div class=" fs-14 mb-4 pb-5">团队聚合了众多影视、广告、设计、营销专业的青年才俊，可以为您提供更专业的编剧、营销策划、美术指导及拍摄剪辑服务!</div>
                    <span class="mt-5 position-absolute bottom-0 mb-5 bgc-007" style="width: 48px; height: 3px;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="5">
        <div class="fs-1 py-lg-3 my-5 text-center">合作流程</div>
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col p-5 wow slideInRight" data-wow-delay="0.1s">
                <div class="row justify-content-center align-items-center hezuo-active" style="background-image: url('__STATIC__/portal/imgs/step1.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;min-height: 302px; line-height: 302px;">
                    <div class="col">
                        <h3 class="text-center fs-30 c-6e" style="text-indent: 4.5rem;">咨询了解</h3>
                    </div>
                </div>
            </div>
            <div class="col p-5 wow slideInRight" data-wow-delay="0.3s">
                <div class="row justify-content-center align-items-center hezuo-active" style="background-image: url('__STATIC__/portal/imgs/step2.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;min-height: 302px; line-height: 302px;">
                    <div class="col">
                        <h3 class="text-center fs-30 c-6e" style="text-indent: 4.5rem;">定制方案</h3>
                    </div>
                </div>
            </div>
            <div class="col p-5 wow slideInRight" data-wow-delay="0.5s">
                <div class="row justify-content-center align-items-center hezuo-active" style="background-image: url('__STATIC__/portal/imgs/step3.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;min-height: 302px; line-height: 302px;">
                    <div class="col">
                        <h3 class="text-center fs-30 c-6e" style="text-indent: 4.5rem;">签约执行</h3>
                    </div>
                </div>
            </div>
            <div class="col p-5 wow slideInRight" data-wow-delay="0.7s">
                <div class="row justify-content-center align-items-center hezuo-active" style="background-image: url('__STATIC__/portal/imgs/step4.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;min-height: 302px; line-height: 302px;">
                    <div class="col">
                        <h3 class="text-center fs-30 c-6e" style="text-indent: 4.5rem;">账号搭建</h3>
                    </div>
                </div>
            </div>
            <div class="col p-5 wow slideInRight" data-wow-delay="0.9s">
                <div class="row justify-content-center align-items-center hezuo-active" style="background-image: url('__STATIC__/portal/imgs/step5.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;min-height: 302px; line-height: 302px;">
                    <div class="col">
                        <h3 class="text-center fs-30 c-6e" style="text-indent: 4.5rem;">拍摄剪辑</h3>
                    </div>
                </div>
            </div>
            <div class="col p-5 wow slideInRight" data-wow-delay="1s">
                <div class="row justify-content-center align-items-center hezuo-active" style="background-image: url('__STATIC__/portal/imgs/step6.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;min-height: 302px; line-height: 302px;">
                    <div class="col">
                        <h3 class="text-center fs-30 c-6e" style="text-indent: 4.5rem;">运营报表</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5 my-5 justify-content-center">
            <div class="col-10 col-lg-4">
                <a target="_blank" href="https://affim.baidu.com/cps5/chatIndex?siteToken=7ae092c70bbb653ae82f38f18f4c801c&speedLogId=16988342947276103_1698834294727_86080&bid=8932105550019762035&eid=50980426&reqParam=%7B%22from%22%3A0,%22sid%22%3A%22-100%22,%22tid%22%3A%22-1%22,%22ttype%22%3A1,%22siteId%22%3A%2219762035%22,%22userId%22%3A%2250980426%22,%22pageId%22%3A0%7D">
                    <img src="__STATIC__/portal/imgs/hezuo-btn.png" alt="Logo" class="img-fluid btn-active">
                </a>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="__STATIC__/plugs/three/three.min.js"></script>
<script src="__STATIC__/plugs/three/index.js"></script>
<script>
    // 服务
    $('.ser-active').hover(
        function () {                         //
            $(this).addClass('cursor')
            $(this).find('h4').removeClass('fw-bold').animate({fontSize: '30px'})
            $(this).find('li').addClass('fw-bold').css({ color: '#0070D5' }).animate({fontSize: '30px'})

        },
        function () {                          //恢复
            $(this).removeClass('cursor')
            $(this).find('h4').addClass('fw-bold').animate({fontSize: '48px'})
            $(this).find('li').removeClass('fw-bold').animate({fontSize: '20px'}).removeAttr('style')
        }
    )
    // 好处haochu-active
    $('.haochu-active').hover(
        function () {
            $(this).addClass('cursor wow pulse animated');
            $(this).find('p').removeClass('c-666');
            $(this).attr("style", "visibility: visible; animation-name: pulse"); // 重新启动wow
            $(this).css({color: '#0070D5'});
        },
        function () {                          //恢复
            $(this).removeClass('wow pulse animated');
            $(this).find('p').addClass('c-666');
            $(this).removeAttr('style');
        }
    )

    // hexin 经过导航项切换高亮
    $('.hover-aaa').last().addClass('aaa');// 默认
    $('.hover-aaa').hover(function () {
            $('.hover-aaa').removeClass('aaa wow fadeIn').removeAttr('style');
            $('.hover-aaa').attr("style", "height: 490px")
            $(this).addClass('aaa wow fadeIn animated')
            $(this).attr("style", "visibility: visible; animation-name: fadeIn; height: 490px")
            $(this).find('span').addClass('c-007').removeClass('c-fff')


        },
        function () {
            $(this).find('span').removeClass('c-007').addClass('c-fff')
        }
    )
    //hezuo-active
    $('.hezuo-active').hover(function () {
            $(this).addClass('cursor')
            $(this).find('h3').removeClass('c-6e').addClass('c-007')
        },
        function () {
            $(this).find('h3').removeClass('c-007').addClass('c-6e')
        }
    )
    //btn
    $('.btn-active').hover(function () {
            $(this).addClass('cursor wow pulse animated')
            $(this).attr("style", "visibility: visible; animation-name: pulse")
        },
        function () {
            $(this).removeClass('wow pulse animated')
            $(this).removeAttr("style")
        },
    )
</script>
{/block}
