<div class="foot py-5">
    <div class="container">
        <div class="row c-fff mb-5">
            <div class="col-6 col-lg-4">
                <div class="fs-18 mb-5">联系我们</div>
                <ul class="fs-14">
                    <li class="mb-2">{:sysconfig('site', 'contact_company')}</li>
                    <li class="mb-4">地址：{:sysconfig('site', 'contact_address')}</li>
                    <li class="mb-2">{:sysconfig('site', 'contact_company2')}</li>
                    <li>地址：{:sysconfig('site', 'contact_address2')}</li>
                </ul>
            </div>
            <div class="col-6 col-lg-4">
                <div class="fs-18 mb-5">联系电话</div>
                <ul class="fs-14">
                    <li class="mb-4">售前咨询梁经理: 18218707084</li>
                    <li>售后服务何小姐: 18813297034 </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <div class="d-flex text-center">
                    <div class="me-4">
                        <img src="__STATIC__/portal/imgs/code4.png" alt="Logo" class="img-fluid mb-2" style="max-height: 126px;">
                        <div class="fs-14">扫一扫微信咨询</div>
                    </div>
                    <div>
                        <img src="__STATIC__/portal/imgs/code1.png" alt="Logo" class="img-fluid mb-2" style="max-height: 126px;">
                        <div class="fs-14">扫一扫微信咨询</div>
                    </div>
                </div>

            </div>
        </div>
        <p class="fs-12 c-cr pt-2 " style="border-top: 2px solid #3e3f40;">
            网站备案号：<a target="_blank" class="text-reset" href="http://www.miitbeian.gov.cn" title="{:sysconfig('site', 'site_beian')}">{:sysconfig('site','site_beian')}</a>
        </p>
    </div>
</div>
