{extend name="public/index" /}

{block name="main"}
{if $carousel}
<div class="banner wow fadeIn" data-wow-delay="0">
    <img src="{$carousel.img}" alt="" class="img-fluid">
</div>
{else /}
<div class="banner wow fadeIn">
    <img src="__STATIC__/portal/imgs/banner/newMedia.png" alt="Logo" class="img-fluid">
</div>
{/if}
<div class="container mb-5">
    <div class="fs-1 pt-3 mt-3 mt-lg-5 mb-3 text-center">不重视新媒体营销最终都会被时代所淘汰！</div>
    <div class="module2-sub-title pb-5 mb-3 mb-lg-5 text-center">我们的日常活动、购物、旅游出行、游戏娱乐都离不开手机。</div>

    <div class="row p-2">
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-between">
            <div class="wow fadeInLeft">
                <div class="fs-4 mb-2">短视频营销</div>
                <div class="fs-18 c-6e">短视频推广+代运营日播放次数31亿,日活30万人次</div>
            </div>
            <div class="wow fadeInUp">
                <div class="fs-4 mb-2">微博营销
                </div>
                <div class="fs-18 c-6e">月活跃5.3亿，日活跃2.3亿
                    国内欢迎的社交平台之一
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 wow rotateIn">
            <img src="__STATIC__/portal/imgs/new1.png" alt="Logo" class="img-fluid p-3 p-lg-0">
        </div>
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-between">
            <div class="wow fadeInRight">
                <div class="fs-4 mb-2">红书推广

                </div>
                <div class="fs-18 c-6e">中国最热的生活分享社区
                    社交营销新风口,当前用户已突破一亿
                </div>
            </div>
            <div class="wow fadeInUp">
                <div class="fs-4 mb-2">微信营销

                </div>
                <div class="fs-18 c-6e">月活12亿，10亿+生态链接
                    社群营销推广，精准社群人群投放
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module-4">
    <div class="container py-5">
        <div class="fs-1 c-fff pb-4 text-center fs-48 px-2">一站式新媒体全网营销服务</div>
        <div class="fs-2 c-fff text-center mb-5 pb-lg-5 fs-3 px-2">一对一为企业量身定制营销方案</div>
        <div class="row row-cols-2 row-cols-lg-4 g-4 g-lg-0 p-4 p-lg-0">
            <div class="col">
                <div class="text-center py-2 meiti-active wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/icon/new1.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 93px;">
                    <div class="mt-4 c-fff fs-3">短视频代运营</div>
                </div>
            </div>
            <div class="col">
                <div class="text-center py-2 meiti-active wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/icon/new2.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 93px;">
                    <div class="mt-4 c-fff fs-3">抖音代运营</div>
                </div>
            </div>
            <div class="col">
                <div class="text-center py-2 meiti-active wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/icon/new3.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 93px;">
                    <div class="mt-4 c-fff fs-3">小红书代运营</div>
                </div>
            </div>
            <div class="col">
                <div class="text-center py-2 meiti-active wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/icon/new4.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 93px;">
                    <div class="mt-4 c-fff fs-3">微信营销代运营</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="3">
        <div class="fs-1 py-lg-3 my-5 text-center">我们的优势</div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg1.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">

                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu1.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">

                    <div class="fs-18 p-3 p-lg-5">
                        <div class="fs-5 mb-2">全案营销方案策划</div>
                        <p class="fs-18 c-666">每个项目配备专业的策划、设计、编剧、摄影、剪辑、演员、运营、客服，输出高品质的创意视频.</p>
                    </div>
                </div>

            </div>
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg2.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu2.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
                    <div class="fs-18 p-3 p-lg-5">
                        <div class="fs-5 mb-2">海量KOC资源
                        </div>
                        <p class="fs-18 c-666">20万+素人KOC资源，账号真实可靠，覆盖全国主要城市!</p>
                    </div>
                </div>
            </div>
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg3.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu3.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
                    <div class="fs-18 p-3 p-lg-5">
                        <div class="fs-5 mb-2">专业短视频营销团队
                        </div>
                        <p class="fs-18 c-666">帮企业操作全套专业营销服务，包括视频制作、剪辑、发布，数据维护到营销获客.</p>
                    </div>
                </div>
            </div>
            <div class="col"
                 style="background-image: url('__STATIC__/portal/imgs/icon/haochu-bg4.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
                <div class="d-flex justify-content-center align-items-center p-2 p-lg-5 haochu-active">
                    <img src="__STATIC__/portal/imgs/icon/haochu4.png" alt="Logo" class="img-fluid p-3 p-lg-0" style="max-height: 96px;">
                    <div class="fs-18 p-3 p-lg-5">
                        <div class="fs-5 mb-2">服务优势
                        </div>
                        <p class="fs-18 c-666">专业的营销顾问，一对一为您提供网络营销服务全程跟进,24小时服务.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-lg-5 my-5 justify-content-center">
            <div class="col-10 col-lg-4">
                <a target="_blank" href="https://affim.baidu.com/cps5/chatIndex?siteToken=7ae092c70bbb653ae82f38f18f4c801c&speedLogId=16988342947276103_1698834294727_86080&bid=8932105550019762035&eid=50980426&reqParam=%7B%22from%22%3A0,%22sid%22%3A%22-100%22,%22tid%22%3A%22-1%22,%22ttype%22%3A1,%22siteId%22%3A%2219762035%22,%22userId%22%3A%2250980426%22,%22pageId%22%3A0%7D">
                    <img src="__STATIC__/portal/imgs/hezuo-btn.png" alt="Logo" class="img-fluid btn-active">
                </a>
            </div>
        </div>
    </div>


</div>

{/block}

{block name="script"}
<script>
    // 鼠标经过合作板块放大
    $('.meiti-active').hover(
        function () {
            $(this).addClass('cursor')
            $(this).find('img').css({transform: 'rotate(-30deg)'});
        },
        function () {
            $(this).find('img').removeAttr('style').css({maxHeight: '93px'})
        }
    )
    // 好处haochu-active
    $('.haochu-active').hover(
        function () {
            $(this).addClass('cursor wow pulse animated');
            $(this).find('p').removeClass('c-666');
            $(this).attr("style", "visibility: visible; animation-name: pulse"); // 重新启动wow
            $(this).css({color: '#0070D5'});
        },
        function () {                          //恢复
            $(this).removeClass('wow pulse animated');
            $(this).find('p').addClass('c-666');
            $(this).removeAttr('style');
        }
    )
    //btn
    $('.btn-active').hover(function () {
            $(this).addClass('cursor wow pulse animated')
            $(this).attr("style", "visibility: visible; animation-name: pulse")
        },
        function () {
            $(this).removeClass('wow pulse animated')
            $(this).removeAttr("style")
        },
    )
</script>
{/block}

