{extend name="public/index" /}

{block name="main"}
{if $carousel}
<div class="banner wow fadeIn" data-wow-delay="0">
    <img src="{$carousel.img}" alt="" class="img-fluid">
</div>
{else /}
<div class="row justify-content-center w-100 m-0 py-4 wow fadeIn" style="background-image: url('__STATIC__/portal/imgs/banner/about.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;">
    <!-- <img src="__STATIC__/portal/imgs/banner/about.png" alt="Logo" class="img-fluid"> -->
    <div class="col  p-0">
        <div class="container">
            <div class="fs-1 c-fff pt-3 pt-lg-5 text-center">
                <span class="position-relative pb-2 pb-lg-4">了<span style="width: 192px;  border-bottom: 2px solid #fff; left: -14px;" class="position-absolute bottom-0"></span></span>解易点 </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="fs-6 c-fff text-center my-5 pt-0 pt-lg-5 ">我们是一家致力于短视频拍摄、抖音代运营推广、品牌营销，小红书营销、直播带货等新媒体营销推广的短视频代运营公司
                        配备专业短视频策划团队， 根据用户需求和预期，结合市场调查和行业分析，帮客户精准定位运营策划推广方案
                        可针对不同公司制定运营内容规划，提供包括IP打造、内容规划、账号运营、蓝v认证、短视频内容策划制作、 短视频拍摄、内容传播等
                        提供全面抖音代运营服务，帮助企业建造新的流量池，提高企业营销力，提升品牌影响力!
                    </div>
                </div>
            </div>



            <div class="row row-cols-2 row-cols-lg-4 justify-content-between py-lg-5">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img src="__STATIC__/portal/imgs/icon/h1.png" alt="" class="img-fluid" style="max-height: 31px;">
                        </div>
                        <div class="col-9 bdr">
                            <div class="c-fff fs-2"><span class="number" data-count="12">12</span><span>年</span></div>
                            <div class="fs-6 c-fff">互联网营销经验</div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center justify-content-center bdr">
                        <div class="col-3 text-end">
                            <img src="__STATIC__/portal/imgs/icon/h2.png" alt="" class="img-fluid" style="max-height: 31px;">
                        </div>
                        <div class="col-6 text-center">
                            <div class="c-fff fs-2 "><span class="number" data-count="5000">5000</span><span>+</span></div>
                            <div class="fs-6 c-fff">合作客户案例</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center justify-content-center bdr">
                        <div class="col-3 text-end">
                            <img src="__STATIC__/portal/imgs/icon/h3.png" alt="" class="img-fluid" style="max-height: 31px;">
                        </div>
                        <div class="col-6 text-center">
                            <div class="c-fff fs-2"><span class="number" data-count="200">200</span><span>人</span></div>
                            <div class="fs-6 c-fff">专业团队</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center justify-content-end">
                        <div class="col-3">
                            <img src="__STATIC__/portal/imgs/icon/h4.png" alt="" class="img-fluid" style="max-height: 31px;">
                        </div>
                        <div class="col-6">
                            <div class="c-fff fs-2">一对一</div>
                            <div class="fs-6 c-fff">专业顾问定制方案</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{/if}
<div class="module-2 p-4  fs-1 text-center c-fff">专注互联网营销行业，提供更细化的行业解决方案</div>
<div class="container d-none">
    <div class="fs-1 mt-5 pt-lg-3 mb-2 text-center">我们的团队</div>
    <div class="c-7e mb-5 pb-lg-3 text-center fs-4">营销顾总一对一量身订做方案，8大岗位  服务一个账号</div>
    <div class="row justify-content-center align-items-center mb-5">
        <div class="col-12 col-lg-2 mb-4 mb-lg-0">
            <div class="c-7e fs-2">策划商务</div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
        <!-- order-last 调转到最后 -->
        <div class="col-12 col-lg-2 mb-4 mb-lg-0 order-lg-last">
            <div class="c-7e fs-2">运营文案</div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
        <div class="col-12 col-lg-2 mb-4 mb-lg-0">
            <div class="c-7e fs-2">拍摄剪辑</div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInRight name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
        <!-- order-last 调转到最后 -->
        <div class="col-12 col-lg-2 mb-4 mb-lg-0 order-lg-last">
            <div class="c-7e fs-2">客服售后</div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
        <div class="col-3 col-lg-2">
            <div class="position-relative wow slideInLeft name-active">
                <img src="__STATIC__/portal/imgs/about1.png" alt="" class="img-fluid">
                <div class="position-absolute bottom-0 bg-light bg-opacity-50 w-100 p-2 c-fff text-center fs-18 d-none">alex</div>
            </div>
        </div>
    </div>
</div>

<div class="4 mb-5">
    {include file="public/cooperate_customers" /}
</div>
<div class="2 row w-100 py-5"  style="background-image: url('__STATIC__/portal/imgs/about-bg.png'); background-repeat: no-repeat;background-size: 100% 100%;background-position: center;">
    <div class="col p-0">
        <div class="container text-center pt-5">
            <div class="c-fff fs-1 mb-3">短视频精准获客营销</div>

            <div class="fs-3 mb-5 pb-5 c-fff line-line text-center">
                <span class="line-line2"></span>
                <span>精准价值洼地，覆盖百亿短视频流量</span>
                <span class="line-line2"></span>
            </div>

            <div class="row row-cols-2 row-cols-lg-4  mb-5 g-4">
                <div class="col wow fadeInUp shortview-active">
                    <div class="py-3 py-lg-5 bgc-007">
                        <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                                src="__STATIC__/portal/imgs/icon/home-we1.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                        <div class="server-card-content text-center">
                            <ul class="m-0">
                                <li class="mb-2">短视频拍摄剪辑</li>
                            </Ul>
                        </div>
                    </div>

                </div>
                <div class="col wow fadeInUp shortview-active">
                    <div class="py-3 py-lg-5 bgc-007">
                        <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                                src="__STATIC__/portal/imgs/icon/home-we2.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                        <div class="server-card-content text-center">
                            <ul class="m-0">
                                <li class="mb-2">短视频代运营</li>

                            </Ul>
                        </div>
                    </div>


                </div>
                <div class="col wow fadeInUp shortview-active">

                    <div class="py-3 py-lg-5 bgc-007">
                        <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                                src="__STATIC__/portal/imgs/icon/home-we3.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                        <div class="server-card-content text-center">
                            <ul class="m-0">
                                <li class="mb-2">短视频广告投放</li>

                            </Ul>
                        </div>
                    </div>


                </div>
                <div class="col wow fadeInUp shortview-active">

                    <div class="py-3 py-lg-5 bgc-007">
                        <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                                src="__STATIC__/portal/imgs/icon/home-we4.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                        <div class="server-card-content text-center">
                            <ul class="m-0">
                                <li class="mb-2">短视频矩阵号</li>

                            </Ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="script"}
<script>
    $(function () {
        // 数字自增
        $('.number').each(function () {
            var $this = $(this),
                countTo = parseInt($this.attr('data-count'));
            $({ countNum: 0 }).animate({ countNum: countTo },
                {
                    duration: 3000,
                    easing: 'linear',
                    speed: 'slow',
                    step: function () {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function () {
                        $this.text(parseInt(this.countNum).toString());
                    }
                });
        });
        //name
        $('.name-active').hover(function () {
                $(this).addClass('cursor')
                $(this).find('div').removeClass('d-none').animate({height: '20%'});
            },
            function () {
                $(this).find('div').addClass('d-none').removeAttr('style');

            },
        )
        // shortview-active
        $('.shortview-active').hover(
            function () {
                $(this).addClass('cursor')
                $(this).find('img').css({maxHeight: '44px'});
                $(this).find('li').addClass('fs-4')
            },
            function () {
                $(this).find('img').removeAttr('style');
                $(this).find('img').css({maxHeight: '55px'});
                $(this).find('li').removeClass('fs-4')
            }
        )
    })
</script>
{/block}
