{extend name="public/index" /}

{block name="main"}
<div class="banner wow fadeIn">
    <img src="__STATIC__/portal/imgs/banner/home.png" alt="Logo" class="img-fluid">
</div>
<div style="border-bottom: 2px solid #d8d7dd;">

    <div class="container">
        <div class="row row-cols-2 row-cols-lg-4 py-3 g-4 g-lg-0">
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="__STATIC__/portal/imgs/icon/home-1.png" alt="" class="img-fluid" style="max-height: 31px;">
                    </div>
                    <div class="col-9">
                        <div class="d-flex c-007 fs-3"><div class="number" data-count="12">12</div><span>年</span></div>
                        <div class="fs-6 c-58">互联网营销经验</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="__STATIC__/portal/imgs/icon/home-2.png" alt="" class="img-fluid" style="max-height: 31px;">
                    </div>
                    <div class="col-9">
                        <div class="d-flex c-007 fs-3"><div class="number" data-count="5000">5000</div><span>+</span></div>
                        <div class="fs-6 c-58">合作客户案例</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="__STATIC__/portal/imgs/icon/home-3.png" alt="" class="img-fluid" style="max-height: 31px;">
                    </div>
                    <div class="col-9">
                        <div class="d-flex c-007 fs-3"><div class="number" data-count="200">200</div><span>人</span></div>
                        <div class="fs-6 c-58">专业团队</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="__STATIC__/portal/imgs/icon/home-4.png" alt="" class="img-fluid" style="max-height: 31px;">
                    </div>
                    <div class="col-9">
                        <div class="c-007 fs-2">一对一</div>
                        <div class="fs-6 c-58">专业顾问定制方案</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="fs-1 py-lg-3 my-5 text-center">我们的服务</div>
    <div class="row row-cols-1 row-cols-lg-3 gx-5 gy-3 gy-lg-5 serve-active-father">
        <div class="col">
            <div class="h-100 wow fadeInUp cursor" data-wow-delay="0.1s"
                 style="background-image: url('__STATIC__/portal/imgs/icon/home-we-bg1.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="pt-5 serve-active" style="height: 232px;">
                    <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                            src="__STATIC__/portal/imgs/icon/home-we1.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                    <div class="server-card-content text-center pb-5">
                        <ul class="m-0">
                            <li class="mb-2">短视频代运营</li>

                        </Ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">

            <div class="h-100 wow fadeInUp cursor" data-wow-delay="0.1s"
                 style="background-image: url('__STATIC__/portal/imgs/icon/home-we-bg2.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="pt-5 serve-active" style="height: 232px;">
                    <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                            src="__STATIC__/portal/imgs/icon/home-we2.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                    <div class="server-card-content text-center pb-5">
                        <ul class="m-0">
                            <li class="mb-2">新媒体营销</li>

                        </Ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">

            <div class="h-100 wow fadeInUp cursor" data-wow-delay="0.1s"
                 style="background-image: url('__STATIC__/portal/imgs/icon/home-we-bg3.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="pt-5 serve-active" style="height: 232px;">
                    <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                            src="__STATIC__/portal/imgs/icon/home-we3.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                    <div class="server-card-content text-center pb-5">
                        <ul class="m-0">
                            <li class="mb-2">品牌营销推广</li>

                        </Ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="h-100 wow fadeInUp cursor" data-wow-delay="0.2s"
                 style="background-image: url('__STATIC__/portal/imgs/icon/home-we-bg4.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="pt-5 serve-active" style="height: 232px;">
                    <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                            src="__STATIC__/portal/imgs/icon/home-we4.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                    <div class="server-card-content text-center pb-5">
                        <ul class="m-0">
                            <li class="mb-2">个人IP打造</li>
                        </Ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h-100 wow fadeInUp cursor" data-wow-delay="0.2s"
                 style="background-image: url('__STATIC__/portal/imgs/icon/home-we-bg5.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="pt-5 serve-active" style="height: 232px;">
                    <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                            src="__STATIC__/portal/imgs/icon/home-we5.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                    <div class="server-card-content text-center pb-5">
                        <ul class="m-0">
                            <li class="mb-2">达人探店</li>
                        </Ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="h-100 wow fadeInUp cursor" data-wow-delay="0.2s"
                 style="background-image: url('__STATIC__/portal/imgs/icon/home-we-bg6.png'); background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="pt-5 serve-active" style="height: 232px;">
                    <h4 class="server-card-title text-center py-4 mb-0 fs-2 c-fff"><img
                            src="__STATIC__/portal/imgs/icon/home-we6.png" alt="" class="img-fluid" style="max-height: 55px;"></h4>
                    <div class="server-card-content text-center pb-5">
                        <ul class="m-0">
                            <li class="mb-2">网站建设</li>
                        </Ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="4 bgc-f5 py-5 mt-5">
    <div class="container">
        <div class="fs-1 mb-5 text-center">易点核心优势</div>
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="px-4 py-5 server-card position-relative cursor hover-aaa wow fadeIn">
                    <div class="mb-3 fs-64 c-d8 fw-bold">01</div>
                    <div class="fs-18 mb-4">短视频平台算法</div>
                    <div class="fs-14 mb-4">易点网络本身是一家从事互联网12年的企业，潜心研究抖音平台排名算法，专业的抖音代运营团队为您服务!</div>
                    <span class="mt-5 position-absolute bottom-0 mb-5" style="width: 48px; height: 3px;"></span>
                </div>
            </div>
            <div class="col">
                <div class="p-4 py-5 server-card position-relative cursor hover-aaa wow fadeIn">
                    <div class="mb-3 fs-64 c-d8 fw-bold">02</div>
                    <div class="fs-18 mb-4">更懂整合营销</div>
                    <div class="fs-14 mb-4">抖音、小红书是年轻人的时尚，是新时代的营销平台，是算法流量的渠道入口，我们，懂策划更懂线上营销!</div>
                    <span class="mt-5 position-absolute bottom-0 mb-5" style="width: 48px; height: 3px;"></span>
                </div>
            </div>
            <div class="col">
                <div class="p-4 py-5 server-card position-relative cursor hover-aaa wow fadeIn">
                    <div class="mb-3 fs-64 c-d8 fw-bold">03</div>
                    <div class=" fs-18 mb-4">更专业的团队</div>
                    <div class=" fs-14 mb-4">团队聚合了众多影视、广告、设计、营销专业的青年才俊，可以为您提供更专业的编剧、营销策划、美术指导及拍摄剪辑服务!</div>
                    <span class="mt-5 position-absolute bottom-0 mb-5" style="width: 48px; height: 3px;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="3 mb-5">
        <div class="fs-1 py-lg-3 my-5 text-center">运营案例</div>
        <div class="row row-cols-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="case-active cursor wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/01.png" alt="" class="img-fluid">
                    <div class="my-4 line1 fs-18 c-15">易点网络广州分公司网站案例易点网络广州分公司网站案例易点网络广州分公司网站案例</div>
                    <div class="line2 fs-14 c-666 mb-4">
                        合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....
                    </div>
                    <span class="fs-14 c-666">了解更多 +</span>
                </div>
            </div>
            <div class="col">
                <div class="case-active cursor wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/01.png" alt="" class="img-fluid">
                    <div class="my-4 line1 fs-18 c-15">易点网络广州分公司网站案例易点网络广州分公司网站案例易点网络广州分公司网站案例</div>
                    <div class="line2 fs-14 c-666 mb-4">
                        合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....
                    </div>
                    <span class="fs-14 c-666">了解更多 +</span>
                </div>
            </div>
            <div class="col">
                <div class="case-active cursor wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/01.png" alt="" class="img-fluid">
                    <div class="my-4 line1 fs-18 c-15">易点网络广州分公司网站案例易点网络广州分公司网站案例易点网络广州分公司网站案例</div>
                    <div class="line2 fs-14 c-666 mb-4">
                        合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....
                    </div>
                    <span class="fs-14 c-666">了解更多 +</span>
                </div>
            </div>
            <div class="col">
                <div class="case-active cursor wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/01.png" alt="" class="img-fluid">
                    <div class="my-4 line1 fs-18 c-15">易点网络广州分公司网站案例易点网络广州分公司网站案例易点网络广州分公司网站案例</div>
                    <div class="line2 fs-14 c-666 mb-4">
                        合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....
                    </div>
                    <span class="fs-14 c-666">了解更多 +</span>
                </div>
            </div>
            <div class="col">
                <div class="case-active cursor wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/01.png" alt="" class="img-fluid">
                    <div class="my-4 line1 fs-18 c-15">易点网络广州分公司网站案例易点网络广州分公司网站案例易点网络广州分公司网站案例</div>
                    <div class="line2 fs-14 c-666 mb-4">
                        合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....
                    </div>
                    <span class="fs-14 c-666">了解更多 +</span>
                </div>
            </div>
            <div class="col">
                <div class="case-active cursor wow fadeInUp">
                    <img src="__STATIC__/portal/imgs/01.png" alt="" class="img-fluid">
                    <div class="my-4 line1 fs-18 c-15">易点网络广州分公司网站案例易点网络广州分公司网站案例易点网络广州分公司网站案例</div>
                    <div class="line2 fs-14 c-666 mb-4">
                        合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....合作运营上线10个月，月均询盘200+，总播放量27W,点赞量180W，粉丝新增数量10W....
                    </div>
                    <span class="fs-14 c-666">了解更多 +</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="4 pb-5 pt-lg-3 bgc-f5">
    <div class="container">
        <div class="fs-1 pt-5 py-lg-3  my-5 text-center">合作客户</div>
        <div class="row row-cols-5 g-4 hezuo">
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/1.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/2.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/3.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/4.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/5.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/6.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/7.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/8.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/9.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/10.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/11.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/12.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/13.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/14.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/15.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/16.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/17.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/18.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/19.png" alt="" class="img-fluid"></div>
            <div class="col cursor wow fadeInUp"><img src="__STATIC__/portal/imgs/custom/20.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="4 my-5 pb-5">
        <div class="row row-cols-1 row-cols-lg-2 gx-5">
            <div class="col wow fadeInUp">
                <div class="about-imgbox cursor"
                     style="width: 100%; height: 100%; overflow: hidden; position: relative;">
                    <img src="__STATIC__/portal/imgs/yidian.png" alt="" class="img-fluid about-active"
                         style="position: absolute; top: 0; left: 0;transition: transform 0.5s ease-out;">
                </div>

            </div>
            <div class="col">
                <div class="fs-1 mb-5 mt-5 mt-lg-0 text-black">了解易点</div>
                <div class="fs-14 c-6e">
                    <p>易点网络是一家致力于短视频拍摄、抖音代运营推广、品牌营销，小红书营销、直播带货等新媒体营销推广的短视频代运营公司，我们配备专业短视频策划团队，根据用户提出的需求和预期，结合市场调查和行业分析，帮客户精准定位运营策划推广方案，可针对不同公司制定运营内容规划，提供包括IP打造、内容规划、账号运营、蓝v认证、短视频内容策划制作、短视频拍摄、内容传播等全面抖音代运营服务，帮助企业建造新的流量池，提高品牌影响力!
                    </p>
                    <p>易点公司成立至今，已经和多家企业进行深度合作，服务客户包括餐饮服务、食品行业、零售行业、教育培训、机械设备、家居建材、生活服务、招商加盟、母婴宠物、服装配饰、休闲娱乐等多个行业，公司深耕短视频垂直领域，为客户提供视频的定位、编剧、拍摄、剪辑、投放、运营至引流变现服务体系。
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
{/block}

{block name="script"}
<script>
    // 数字自增
    var numAdd = function () {
        $('.number').each(function () {
            var $this = $(this),
                countTo = parseInt($this.attr('data-count'));
            $({ countNum: 0 }).animate({ countNum: countTo },
                {
                    duration: 3000,
                    easing: 'linear',
                    speed: 'slow',
                    step: function () {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function () {
                        $this.text(parseInt(this.countNum).toString());
                    }
                });
        });
    }
    $(function () {
        numAdd()
    })
    // 鼠标经过hexin变化背景
    $(function () {
        // hexin 经过导航项切换高亮
        $('.hover-aaa').last().addClass('aaa');// 默认
        $('.hover-aaa').hover(function () {
            $('.hover-aaa').removeClass('aaa wow fadeIn').removeAttr('style');
            $(this).addClass('aaa wow fadeIn animated')
            $(this).attr("style", "visibility: visible; animation-name: fadeIn")

        })
        // 鼠标经过fuwu板块放大serve-active
        $(document).ready(function () {
            $(".serve-active-father .serve-active").hover(
                function () {                         //变大
                    $(this).find('img').animate({ padding: '10px' })
                    $(this).find('li').animate({ fontSize: '20px', fontWeight: 600 })

                },
                function () {                          //恢复
                    $(this).find('img').animate({ paddingBottom: '0px' })
                    $(this).find('li').animate({ fontSize: '18px', fontWeight: 0 })


                }
            );
        });
        // 鼠标经过合作板块放大
        $('.hezuo img').hover(
            function () {
                $(this).addClass('wow fadeIn animated');
                $(this).attr("style", "visibility: visible; animation-name: fadeInUp") // 重新启动wow
            },
            function () {
                $(this).removeClass('wow fadeIn animated');
                $(this).removeAttr('style')
            }
        )
    })
    //
    $('.case-active').hover(
        function () {                         //变大
            $(this).css({ fontWeight: 600 })
            $(this).find('span').css({ fontWeight: 600, color: '#0070D5' })

        },
        function () {                          //恢复
            $(this).removeAttr('style')
            $(this).find('span').removeAttr('style')


        }
    )

</script>
{/script}
